$accent: #FB1B3D;
$default: #fff;
$crypto-default: #07070B;
$hotel-default: #333;
$color-btn: #EC1F46;


%opensans-300 {
  font-family: 'OpenSans-LightItalic', sans-serif;
  font-weight: 300;
}

%potra-300 {
  font-family: 'Potra', sans-serif;
  font-weight: 300;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

/////////////////// For the crypto page //////////////////

%inter-400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%inter-700 {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
}

%gilroy-600 {
  font-family: 'Gilroy-SemiBold', sans-serif;
  font-weight: 600;
}

%gilroy-700 {
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 700;
}

%ubuntu-400 {
  font-family: 'Ubuntu-Regular', sans-serif;
  font-weight: 400;
}

%btn {
  padding: 22px 85px;
  background-color: #F2D080;
  border-radius: 12px;
}

//////////////////////////// ////////////////////////



/////////////////// For the hotel page //////////////////

%mulish-300 {
  font-family: 'Mulish-Light', sans-serif;
  font-weight: 300;
}

%mulish-400 {
  font-family: 'Mulish-Regular', sans-serif;
  font-weight: 400;
}

%mulish-600 {
  font-family: 'Mulish-SemiBold', sans-serif;
  font-weight: 600;
}

%mulish-700 {
  font-family: 'Mulish-Bold', sans-serif;
  font-weight: 700;
}

%mulish-600 {
  font-family: 'Mulish-SemiBold', sans-serif;
  font-weight: 600;
}

%nunito-400 {
  font-family: 'Nunito-Regular', sans-serif;
  font-weight: 400;
}

%nunito-600 {
  font-family: 'Nunito-SemiBold', sans-serif;
  font-weight: 600;
}

//////////////////////////// ////////////////////////



/////////////////// For the FastFix page //////////////////


%poppins-300 {
  font-family: 'Poppins-Light', sans-serif;
  font-weight: 300;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

//////////////////////////// ////////////////////////



/////////////////// For the Wedding page //////////////////


%baskerville-700 {
  font-family: 'Baskerville-Bold',
  sans-serif;
  font-weight: 700;
}

%baskerville-italic-400 {
  font-family: 'Baskerville-Italic',
    sans-serif;
  font-weight: 400;
}

%baskerville-400 {
  font-family: 'Baskerville-Regular',
    sans-serif;
  font-weight: 400;
}

%avenir-800 {
  font-family: 'Avenir-Black',
    sans-serif;
  font-weight: 800;
}

%avenir-400 {
  font-family: 'Avenir-Book',
    sans-serif;
  font-weight: 400;
}

%avenir-500 {
  font-family: 'Avenir-Medium',
    sans-serif;
  font-weight: 500;
}

%avenir-medium-oblique-500 {
  font-family: 'Avenir-MediumOblique',
    sans-serif;
  font-weight: 500;
}

%avenir-oblique-500 {
  font-family: 'Avenir-Oblique',
    sans-serif;
  font-weight: 500;
}

%paris-regular-400 {
  font-family: 'Paris-Regular',
    sans-serif;
  font-weight: 400;
}


//////////////////////////// ////////////////////////



@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}