@media (max-width: 1200px) {


  .crypto-header__top {
    
    

    &-title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }

    &-text {
      margin-bottom: 30px;
    }
  }

  .crypto-statistics {
    padding: 40px 0;
  }


  .crypto-currency {

    &__item {
      width: 100%;
      &::before {
        left: 40px;
      }
    }
  }

  
  
}

@media (max-width: 992px) {


  .crypto-header__top {
    

    &-content {
      width: 100%;
    }

    &-img {
      display: none;
    }
  }

  .crypto-statistics {

    &-numb {
      font-size: 56px;
      line-height: 30px;
    }
  }


  .crypto-currency {

    &__slider-box {
      max-width: 183px;
      font-size: 20px;
      line-height: 24px;
      padding: 36px 40px 36px 80px;
      margin: 27px 0;

      &::before {
        width: 40px;
        height: 40px;
        left: 32px;
      }
    }

  }


  .crypto-benefits {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .crypto-start {

    &__item {

      &:not(:last-child) {
        margin-right: -100px;
        padding-right: 262px;

        &::after {
          background-image: none;
        }
      }
    }
  }


  .crypto-footer {


    &__item:not(:last-child) {
      margin-right: 25px;
    }

    &__link-text {
      display: none;
    }
  }
 


}


@media (max-width: 768px) {

 
  .crypto-statistics {

    &__list {
      flex-direction: column;
    }

    &__item:not(:last-child) {
      margin-bottom: 64px;
    }
  }


  .crypto-currency {

    &__slider-box {
      max-width: 100%;
      margin: 27px 15px;
    }

  }

  .crypto-benefits {

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      
      &::before {
        left: 30%;
      }
    }
  }

  .crypto-tools {


    &__list {
      display: none;
    }

    &__list-slider {
      display: block;
    }

    &__slider-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }

     &__btn {
       width: 320px;
     }

    
  }

  .crypto-tools__list-slider.slick-slider {
    display: block;
  }

  .crypto-tools__list-slider .slick-dots {
    z-index: 4;
    display: flex;
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translateX(-50%);
    & li {
      &:not(:last-child) {
        margin-right: 18px;
      }
      & button {
        background: #282F38;
        border-radius: 50%;
        height: 15px;
        width: 8px;
        font-size: 0;
      }
    }
    
    
  }

  .crypto-tools__list-slider .slick-dots li.slick-active button {
    background-color: $default;
  }

  .crypto-feedback {

    &__slider-box {
      margin: 60px 15px 0;
    }
    
  }




  .crypto-start {

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    &__item {
      

      &:not(:last-child) {
        margin-right: 0;
        padding-right: 0;

        &::after {
          background-image: none;
        }
      }
      &:last-child {
        margin-left: 0;

      }
    }


    &__numb--1 {
      top: 15%;
      right: 34%;
    }

    &__numb--2 {
      top: 15%;
      right: 30%;
    }

    &__numb--3 {
      top: 16%;
      right: 30%;
    }


    &__link {
      display: none;
    }



  }




}

@media (max-width: 576px) {


  .crypto-header {
    background-color: #151516;
    height: calc(100vh - 65px);
  }

  .crypto-menu {

    &__item:first-child {
      margin-right: 24px;
      
    }
  }

 
.crypto-header__top {
  
  &-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
    width: 100%;
  }
  &-link-btn {
    width: 100%;
    display: block;
    text-align: center;
  }
}


.crypto-currency {

  &__slider-box {
    max-width: 183px;
    margin: 27px -35px;
  }

}



  .crypto-benefits {

    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      
      &::before {
        left: 35%;
      }
    }
  }


  .crypto-feedback {

    &__slider-box {
      margin: 60px 15px 0;
    }

    &__list-bottom {
      display: none;
    }

  }


  .crypto-feedback__list-up .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    & li {
      &:not(:last-child) {
        margin-right: 20px;
      }

      & button {
        background: #282F38;
        border-radius: 50%;
        height: 15px;
        width: 8px;
        font-size: 0;
      }
    }


  }

  .crypto-feedback__list-up .slick-dots li.slick-active button {
    background-color: $default;
  }





}