
@media (max-width: 1200px) {

  .fixed {
    position:fixed;
    width:100%;
  }

  .fast-header__bottom-burger {
    display: block;
    z-index: 4;
  }

  .fast-header__bottom-burger-line {
    width: 26px;
    height: 4px;
    background-color: #029B5E;
    border-radius: 1px;
    display: block;
    position: relative;
    transition: all 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 0;
      width: 34px;
      height: 4px;
      background-color: #029B5E;
      border-radius: 1px;
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 34px;
      height: 4px;
      background-color: #029B5E;
      border-radius: 1px;
      transition: all 0.5s;
    }
  }

  .open {
    width: 0;
    &::before {
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 0;
    }
  }

  .blur::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  .fast-header__nav {
    display: none;
  }

  .fast-header__burgermenu {
    display: block;
    text-align: center;
    position: absolute;
    overflow: scroll;
    top: -40px;
    right: -20px;
    background-color: $default;
    width: 300px;
    height: 100vh;
    padding-top: 128px;
    z-index: 3;
    transform: translateX(100%);
    transition: all 0.5s;
    &-item {
      padding: 16px 0;
      border-bottom: 1px solid #2525250d;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 98px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 10px;
        height: 16px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 95px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 12px;
        height: 10px;
      }

      &--arrow-1::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 110px;
      }

      &--arrow-2::before {
        background-image: url('../images/fast-fix/icons/ipad.svg');
        width: 12px;
        left: 117px;
      }

      &--arrow-3::before {
        background-image: url('../images/fast-fix/icons/mac.svg');
        width: 17px;
        left: 113px;
      }

      &--arrow-4::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 102px;
      }

      &--arrow-5::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 108px;
      }

      &--arrow-6::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 110px;
      }

      &--arrow-7::before {
        background-image: url('../images/fast-fix/icons/details.svg');
        width: 16px;
      }

      &--arrow-8::before {
        background-image: url('../images/fast-fix/icons/contact.svg');
        width: 16px;
        left: 103px;
      }

      &--arrow-1::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 107px;
      }

      &--arrow-2::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 115px;
      }

      &--arrow-3::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 115px;
      }

      &--arrow-4::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
      }

      &--arrow-5::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 103px;
      }

      &--arrow-6::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 105px;
      }
    }

    &-link {
      padding: 16px 0;
      font-size: 14px;
      line-height: 21px;
    }

  }

  .menu-open {
    transform: translateX(0);
  }

   .expand::after {
     transform: rotate(-180deg);
   }

   .fast-header__burgermenu-submenu {
    display: none;
    &-item {
      padding: 12px 0;
    }
    &-link {
      padding: 12px 0;
    }
   }

   .open-submenu {
     display: block;
   }

  .fast-header__content::before {
    height: 630px;
  }

  .fast-header__content {

    &-wrap {
      height: calc(100vh - 110px);
    }

  }
  
}



@media (max-width: 992px) {


 .fast-header__content {

  &::before {
    height: 450px;
  }

  &-wrap {
    height: calc(100vh - 330px);
  }

  &-title {
    font-size: 28px;
    line-height: 42px;
  }

  &-btn-call {
    padding: 12px 32px;
  }

  &-btn-show {
    padding: 12px 32px;
  }

 }

 .fast-header__category {


  &-subtitle {
  font-size: 28px;
   line-height: 42px;
  }

  &-item {
    padding: 12px 0px 0 6px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-link {
    font-size: 14px;
    line-height: 21px;
  }
   
 }
 


}


@media (max-width: 768px) {

 
  
.fast-header__item--clock {
  display: none;
}


.fast-header__content {

  &::before {
    width: 44%;
  }

  &-wrap {
    width: 65%;
  }

  &-title {
    font-size: 28px;
    line-height: 42px;
  }

  &-btn-call {
    padding: 12px 32px;
  }

  &-btn-show {
    padding: 12px 32px;
  }

}


.fast-header__category {


  &-subtitle {
    font-size: 28px;
    line-height: 42px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    justify-items: center;
  }

  &-item {
    max-width: 156px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &-link {
    font-size: 14px;
    line-height: 21px;
  }

}



}

@media (max-width: 576px) {



  .fast-header__top {
    font-size: 12px;
    line-height: 1.25;
  }

  .fast-header__content {

    &::before {
      top: 17%;
    }

    &-wrap {
      width: 100%;
      height: calc(100vh - 372px);
      text-align: center;
    }

    &-title {
      font-size: 22px;
      line-height: 33px;
    }

    &-text {
      font-size: 12px;
      line-height: 18px;
    }

    &-inner {
      justify-content: center;
    }

    &-btn-call {
      padding: 12px 24px;
    }

    &-btn-show {
      padding: 12px 24px;
    }

  }

  .fast-header__category {

    &-subtitle {
      width: 61%;
    }
  }
  


  }
