@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



html,
body {
  height: 100%;
}

.fast-main {
  flex-grow: 1;
}


.fast-header {
  
  height: 100vh;

  &__top-menu {
    background-color: #151516;
  }
}
















































@import 'fast-fix-media';