
@media (max-width: 1200px) {

  .fixed {
    position: fixed;
    width: 100%;
  }

  .fast-header__bottom-burger {
    display: block;
    z-index: 4;
  }

  .fast-header__bottom-burger-line {
    width: 26px;
    height: 4px;
    background-color: #029B5E;
    border-radius: 1px;
    display: block;
    position: relative;
    transition: all 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 0;
      width: 34px;
      height: 4px;
      background-color: #029B5E;
      border-radius: 1px;
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 34px;
      height: 4px;
      background-color: #029B5E;
      border-radius: 1px;
      transition: all 0.5s;
    }
  }

  .open {
    width: 0;
    &::before {
      transform: rotate(45deg);
      top: 0;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 0;
    }
  }

  .blur::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  .fast-header__nav {
    display: none;
  }

  .fast-header__burgermenu {
    display: none;
    text-align: center;
    position: absolute;
    overflow: scroll;
    top: -40px;
    right: -20px;
    background-color: $default;
    width: 300px;
    height: 100vh;
    padding-top: 128px;
    z-index: 3;
    transform: translateX(100%);
    transition: all 0.5s;
    &-item {
      padding: 16px 0;
      border-bottom: 1px solid #2525250d;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 22px;
        left: 98px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 10px;
        height: 16px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 95px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 12px;
        height: 10px;
      }

      &--arrow-1::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 110px;
      }

      &--arrow-2::before {
        background-image: url('../images/fast-fix/icons/ipad.svg');
        width: 12px;
        left: 117px;
      }

      &--arrow-3::before {
        background-image: url('../images/fast-fix/icons/mac.svg');
        width: 17px;
        left: 113px;
      }

      &--arrow-4::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 102px;
      }

      &--arrow-5::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 108px;
      }

      &--arrow-6::before {
        background-image: url('../images/fast-fix/icons/phone-icon.svg');
        left: 110px;
      }

      &--arrow-7::before {
        background-image: url('../images/fast-fix/icons/details.svg');
        width: 16px;
      }

      &--arrow-8::before {
        background-image: url('../images/fast-fix/icons/contact.svg');
        width: 16px;
        left: 103px;
      }

      &--arrow-1::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 107px;
      }

      &--arrow-2::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 115px;
      }

      &--arrow-3::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 115px;
      }

      &--arrow-4::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
      }

      &--arrow-5::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 103px;
      }

      &--arrow-6::after {
        background-image: url('../images/fast-fix/icons/arrow.svg');
        right: 105px;
      }
    }

    &-link {
      padding: 16px 0;
      font-size: 14px;
      line-height: 21px;
    }

  }

  .fast-header__burgermenu-open {
    display: block;
  }

  .menu-open {
    transform: translateX(0);
  }

   .expand::after {
     transform: rotate(-180deg);
   }

   .fast-header__burgermenu-submenu {
    display: none;
    &-item {
      padding: 12px 0;
    }
    &-link {
      padding: 12px 0;
    }
   }

   .open-submenu {
     display: block;
   }

  .fast-header__content::before {
        width: 57%;
  }

  .fast-header__content {

    &-wrap {
      height: calc(100vh - 329px);
    }

  }

  .fast-header__category {
    padding-bottom: 32px;
  }

  .fast-footer__time-job {
    width: 36%;
  }
  
}

.fast-main__title {
  font-size: 28px;
  line-height: 42px;
}

.fast-main__text {
  font-size: 12px;
  line-height: 18px;
}

.fast-main__service-contant {
  max-width: 453px;
}



@media (max-width: 992px) {


 .fast-header__content {

  &::before {
    height: 490px;
  }

  &-wrap {
    height: calc(100vh - 330px);
  }

  &-title {
    font-size: 28px;
    line-height: 42px;
  }

  &-btn-call {
    padding: 12px 32px;
  }

  &-btn-show {
    padding: 12px 32px;
  }

 }

 .fast-header__category {


  &-subtitle {
  font-size: 28px;
   line-height: 42px;
  }

  &-item {
    padding: 12px 0px 0 6px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-link {
    font-size: 14px;
    line-height: 21px;
  }
   
 }


 .fast-footer__wrap {
   flex-direction: column;
   align-items: center;

 }

 .fast-footer__logo {
   width: 100%;
   margin-right: 0;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 16px;
 }

 .fast-footer__service-list {
   margin-right: 0;

   &:not(:last-child) {
     margin-right: 24px;
   }
 }

 .fast-footer__time-job {
   width: 50%;
   text-align: center;
   margin-top: 16px;
 }

 .fast-footer__time-job-item .fast-header__item--clock {
   display: block;
 }

 .fast-footer__time-job-item .fast-header__item--clock::before {
   left: 30px;
 }

 .fast-footer__time-job-item .fast-header__item--phone::before {
   left: 70px;
 }


 .fast-main__service-contant {
   max-width: 340px;
 }

 .fast-main__service-subtitle {
   font-size: 18px;
 }

 .fast-main__service-text {
   font-size: 14px;
   line-height: 21px;
 }
 


}


@media (max-width: 768px) {

 
  
.fast-header__item--clock {
  display: none;
}


.fast-header__content {

  &::before {
    width: 44%;
  }

  &-wrap {
    width: 65%;
  }

  &-title {
    font-size: 28px;
    line-height: 42px;
  }

  &-btn-call {
    padding: 12px 32px;
  }

  &-btn-show {
    padding: 12px 32px;
  }

}


.fast-header__category {


  &-subtitle {
    font-size: 28px;
    line-height: 42px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    justify-items: center;
  }

  &-item {
    max-width: 156px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &-link {
    font-size: 14px;
    line-height: 21px;
  }

}

.fast-header__category {

  &-subtitle {
    width: 61%;
  }
}

.fast-main__service {
  margin-top: 60%;

  &::before {
    display: none;
  }
}

.fast-main__service-contant {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.fast-main__service-list {
  margin-top: 32px;
}

.fast-main__service-item:not(:last-child) {
  margin-bottom: 16px;
}

.fast-main__service-subtitle {
  display: inline;
}

.fast-main__service-img {
  display: block;
  margin-top: 16px;
}




}

@media (max-width: 576px) {



  .fast-header__top {
    font-size: 12px;
    line-height: 1.25;
  }

  .fast-header__burgermenu {
    padding-top: 60px;
  }

  .fast-header__content {

    &::before {
      top: 17%;
    }

    &-wrap {
      width: 100%;
      height: calc(100vh - 345px);
      text-align: center;
    }

    &-title {
      font-size: 22px;
      line-height: 33px;
    }

    &-text {
      font-size: 12px;
      line-height: 18px;
    }

    &-inner {
      justify-content: center;
    }

    &-btn-call {
      padding: 12px 24px;
    }

    &-btn-show {
      padding: 12px 24px;
    }

  }

  .fast-header__category {

    &-subtitle {
      width: 61%;
    }
  }


  .fast-footer__time-job {
    width: 83%;
    margin-top: 12px;
  }


  .fast-footer-text {
    font-size: 14px;
    margin-right: 8px;
  }

  .fast-footer__bottom-link:not(:last-child) {
    margin-right: 6px;
  }

  .fast-footer__bottom-link::before {
    width: 16px;
    height: 16px;
  }


  .fast-main__service {
    margin-top: 98%;
  }

  .fast-main__service-list {
    margin-top: 24px;
  }

  .fast-main__service-subtitle {

    &::before {
      top: 2px;
      left: 8px;
      width: 20px;
      height: 20px;
    }
  }
  


  }



  @media (max-width: 668px) and (orientation: landscape) {

    .fast-header__content {

      &-wrap {
        height: calc(100vh - 20px);
      }

    }

    .fast-footer {
      margin-top: 100%;
    }

  }
