@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



html,
body {
  height: 100%;
}

.wedding-main {
  flex-grow: 1;
}

.wedding-header {
  
  background-color: #0D0A09;

  &__contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %avenir-500;
    font-size: 31px;
    line-height: 42px;
    letter-spacing: 0.05em;
    padding: 17px 0 9px;
  }

  &__img {
    width: 100%;
    height: 100vh;
    background-image: url('../images/wedding/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
    height: calc(100vh - 66px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('../images/wedding/before-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: 2;
    }
  }
}

.menu {
  background-color: $default;
  color: #0D0A09;
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.04);

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    padding: 25px 0;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.055em;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 66px;
    }

    &:hover .menu__submenu {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
      color: #0D0A09;
    }
  }

  &__item:hover {
    color: #D59D40;
  }

  &__submenu {
    position: absolute;
    left: -15%;
    padding-top: 25px;
    text-align: center;
    padding: 50px 30px 35px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 43%;
      background-image: url('../images/wedding/icons/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 41px;
      height: 41px;
    }
  }

  &__subitem {

    &:not(:last-child) {
      margin-bottom: 27px;
    }

    &:hover {
      color: #D59D40;
    }
  }
}

.wedding__features {
  padding: 70px 0 140px;
  color: #464646;
  position: relative;
  background-image: url('../images/wedding/features-bg.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

  &::before {
    content: "";
    position: absolute;
    bottom: 135px;
    right: 0;
    background-color: #F0F0F0;
    width: 515px;
    height: 355px;
    z-index: -1;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-title {
    @extend %avenir-400;
    font-size: 202px;
    line-height: 202px;
    letter-spacing: -0.05em;
  }

  &-subtitle {
    font-size: 41px;
    line-height: 56px;
    letter-spacing: -0.025em;
    color: #000000;
    margin-bottom: 30px;
  }

  &-text {
    @extend %avenir-400;
    font-size: 28px;
    line-height: 110.6%;
    letter-spacing: 0.025em;
    color: #000000;
    text-align: center;
    width: 43%;
    margin-bottom: 80px;
  }

  &-selected-text {
    @extend %avenir-800;
  }

  &-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-list {
    padding-right: 68px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -35px;
      right: 0;
      background-color: #D59D40;
      width: 3px;
      height: 445px;
    }
  }

  &-item {
    @extend %baskerville-400;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #D59D40;
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:hover {
      color: #464646;
    }
  }

  &-photographers {
    @extend %baskerville-italic-400;
    font-size: 24px;
    line-height: 107.1%;
    letter-spacing: 0.06em;
    width: 20%;
    margin-left: 65px;
  }
}

.wedding__portfolio {
  background-image: url('../images/wedding/portfolio.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding: 298px 0 44px;
  text-align: center;

  &-title {
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -0.065em;
    color: #FFFFFF;
  }
}

.wedding__reviews {
  padding: 76px 0 206px;

  &-wrap {
    display: flex;

  }

  &-box {
    width: 74%;
    margin-right: 38px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('../images/wedding/brackets-top.jpg');
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 315px;
      height: 386px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url('../images/wedding/brackets-bottom.jpg');
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 315px;
      height: 386px;
      z-index: -1;
    }
  }

  &-inner {
    width: 84%;
    padding: 180px 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 70px;
      right: -28px;
      background-color: #D59D40;
      width: 3px;
      height: 724px;
    }
  }

  &-title {
    @extend %baskerville-400;
    font-style: normal;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #D59D40;
    margin-bottom: 5px;
  }

  &-author {
    @extend %baskerville-400;
    font-size: 19px;
    line-height: 107.1%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 34px;
    text-align: end;
  }

  &-text {
    @extend %baskerville-400;
    font-style: normal;
    font-size: 22px;
    line-height: 113.6%;
    color: #000000;
  }

  &-about {
    margin: 180px 0;
    padding: 0 27px 46px 27px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #F0F0F0;
      width: 100%;
      height: 97%;
      z-index: -1;
    }

    & .wedding__reviews-title {
      color: #000000;
    }

    & .wedding__reviews-author {
      font-style: italic;
      text-transform: lowercase;
    }

    & .wedding__reviews-text {
      text-align: right;
    }
  }

  &-text--about {
    margin-bottom: 20px;
  }
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
}

.slick-prev {
  left: -75px;
}

.slick-next {
  right: -46px;
}

.wedding__packages {
  padding-top: 58px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/wedding/packages-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90%;
  }

  &-box {
    display: inline-block;
    padding: 94px 5px 80px 5px;
    
    margin-left: 176px;
    text-align: center;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 162px;
      background-color: rgba(244, 244, 244, 0.7);
      width: 56%;
      height: 100%;
      z-index: -1;
    }
  }

  &-title {
    @extend %baskerville-400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -0.035em;
    color: $default;
    margin-bottom: 3px;
  }

  &-subtitle {
    @extend %baskerville-400;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.055em;
    color: #464646;
    margin-bottom: 18px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 135px;
      background-color: #D59D40;
      width: 63%;
      height: 4px;
    }
  }

  &-text {
    @extend %baskerville-400;
    font-style: italic;
    font-size: 24px;
    line-height: 107.1%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 auto 60px auto;
    width: 65%;
  }
}

.wedding__faq {
  padding: 106px 0 95px;

  &-images {
    margin: 0 70px;

    
  }
}





























































.wedding-footer {
  

  &__content {
    background-color: #F9F4EC;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 76px 0 104px;
    color: #D59D40;
  }

  &__title {
    font-size: 37px;
    line-height: 51px;
    letter-spacing: 0.015em;
    margin-bottom: 30px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.015em;

    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  &__bottom {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 27%;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.015em;
    color: #BEBEBE;
  }
}


















































@import 'fast-fix-media';